ion-spinner {
    display: block;
    margin: auto;
    width: 100%;
}
#vehiculeName {
    color: #049904;
}
.photo {
    display: block;
    margin: auto;
    max-width: 150px;
}
button{
    min-height: 35px;
}
