ion-spinner {
    display: block;
    margin: auto;
    width: 100%;
}
#vehiculeName {
    color: #049904;
}
.photo {
    display: block;
    margin: auto;
    max-width: 150px;
}
button{
    min-height: 35px;
}
.validation {
    background: #FFA217;
    color: #fff;
    font-weight: 100;
    border-radius: 0 0 16px 16px;
    line-height: 1;
    margin-top: -16px;
    margin-left: 16px;
  }