<h3>Vehicules with Observable</h3>
<ul>
    <li *ngFor="let vehicule of vehicules">
        Id: {{vehicule.vehiculeId}}, Name: {{vehicule.name}}
    </li>
</ul>
<div>
    <ion-item>
        <ion-label>VehiculeId: </ion-label>
        <ion-input [(ngModel)]="vehicule.vehiculeId"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Name: </ion-label>
        <ion-input [(ngModel)]="vehicule.name"></ion-input>
    </ion-item>
    <button ion-button (click)="addVehicule()">Add</button>

</div>
<div *ngIf="vehiculeName" [ngClass]="'success'"> {{vehiculeName}} Added. </div>
<div *ngIf="errorMessage" [ngClass]="'error'"> {{errorMessage}} </div>