<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Clubs</ion-title>
    </ion-navbar>
</ion-header>
    
<ion-content>
    <ion-spinner *ngIf="isLoading" class="center" icon="spiral"></ion-spinner>
    <ion-list>
        <ion-item-sliding *ngFor="let club of clubs">
            <button ion-item (click)="open(club)">
                <ion-thumbnail item-left>
                    <img src="{{club.photo}}"/>
                </ion-thumbnail>

                <h2 *ngIf="!club.isInvalid">{{club.name}}</h2>
                <p *ngIf="club.isInvalid" color="secondary">Club is not valid</p>

                <p>{{club.clubId}}</p>
                
                <div *ngIf="club.isInvalid" class="error">Password for this club is wrong.</div>
            </button>
            <ion-item-options>
                <button danger (click)="delete(club)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <div *ngIf="errorMessage" [ngClass]="'error'"> {{errorMessage}} </div>
</ion-content>

<ion-footer>        
    <ion-buttons end>
        <button ion-button [disabled]="isLoading" (click)="add()">Add</button>
    </ion-buttons>
</ion-footer>