<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Vehicules</ion-title>
    </ion-navbar>
</ion-header>

<!--https://www.joshmorony.com/an-in-depth-look-at-the-grid-system-in-ionic-2/-->
<ion-content class="vehicule-list">
    <ion-spinner *ngIf="isLoading" class="center" icon="spiral"></ion-spinner>
    <ion-list>
        <ion-item-sliding *ngFor="let vehicule of vehicules">
            <button ion-item (click)="open(vehicule)">
                <ion-thumbnail item-left>
                    <img src="{{vehicule.photo}}"/>
                </ion-thumbnail>
                <h2>{{vehicule.name}}</h2>
                <p>{{vehicule.trademark}}</p>
                <p>{{vehicule.color}}</p>
                <p>{{vehicule.seats}} seats</p>
            </button>
            <ion-item-options>
                <button danger (click)="delete(vehicule)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <div *ngIf="vehiculeName" [ngClass]="'success'"> {{vehiculeName}} Added. </div>
    <div *ngIf="errorMessage" [ngClass]="'error'"> {{errorMessage}} </div>
</ion-content>

<ion-footer>        
    <ion-buttons end>
        <button ion-button [disabled]="isLoading" (click)="add()">Add</button>
    </ion-buttons>
</ion-footer>